In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("GLOBALSUPERSTORE_DATA -DUPLICATE1.csv")

In [4]:
# We start by Exploring the data
# Generate the first five rows
df.head()

,ROW_ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11/11/2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.98,2.0,0.0,62.15,40.77,High
1,26341,IN-2014-JR162107-41675,2/5/2014,2/7/2014,Second Class,JR-162107,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9.0,0.1,-288.77,923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-5356,Technology,Phones,NaN,5175.17,9.0,0.1,919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5.0,0.1,-96.54,910.16,Medium
4,47221,SG-2014-RH9495111-41948,11/5/2014,11/6/2014,Same Day,RH-9495111,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8.0,0.0,311.52,903.04,Critical

In [5]:
#Check the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ROW_ID          24 non-null     object
 1   Order ID        24 non-null     object
 2   Order Date      14 non-null     object
 3   Ship Date       14 non-null     object
 4   Ship Mode       14 non-null     object
 5   Customer ID     14 non-null     object
 6   Customer Name   14 non-null     object
 7   Segment         14 non-null     object
 8   City            14 non-null     object
 9   State           14 non-null     object
 10  Country         14 non-null     object
 11  Region          14 non-null     object
 12  Market          14 non-null     object
 13  Product ID      14 non-null     object
 14  Category        14 non-null     object
 15  Sub-Category    14 non-null     object
 16  Product Name    13 non-null     object
 17  Sales           14 non-null     float64
 18  Quantity        14 non-null     float64
 19  Discount        14 non-null     float64
 20  Profit          14 non-null     float64
 21  Shipping Cost   14 non-null     float64
 22  Order Priority  14 non-null     object
dtypes: float64(5), object(18)
memory usage: 4.6+ KB

In [6]:
#Check the datatypes of the columns
df.dtypes

ROW_ID             object
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity          float64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority     object
dtype: object