In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [3]:
df = pd.read_csv("GLOBALSUPERSTORE_DATA -DUPLICATE1.csv")

In [4]:
# We start by Exploring the data
# Generate the first five rows
df.head()

,ROW_ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11/11/2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.98,2.0,0.0,62.15,40.77,High
1,26341,IN-2014-JR162107-41675,2/5/2014,2/7/2014,Second Class,JR-162107,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.40,9.0,0.1,-288.77,923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-5356,Technology,Phones,NaN,5175.17,9.0,0.1,919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.51,5.0,0.1,-96.54,910.16,Medium
4,47221,SG-2014-RH9495111-41948,11/5/2014,11/6/2014,Same Day,RH-9495111,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.96,8.0,0.0,311.52,903.04,Critical

In [5]:
#Check the info of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ROW_ID          24 non-null     object
 1   Order ID        24 non-null     object
 2   Order Date      14 non-null     object
 3   Ship Date       14 non-null     object
 4   Ship Mode       14 non-null     object
 5   Customer ID     14 non-null     object
 6   Customer Name   14 non-null     object
 7   Segment         14 non-null     object
 8   City            14 non-null     object
 9   State           14 non-null     object
 10  Country         14 non-null     object
 11  Region          14 non-null     object
 12  Market          14 non-null     object
 13  Product ID      14 non-null     object
 14  Category        14 non-null     object
 15  Sub-Category    14 non-null     object
 16  Product Name    13 non-null     object
 17  Sales           14 non-null     float64
 18  Quantity        14 non-null     float64
 19  Discount        14 non-null     float64
 20  Profit          14 non-null     float64
 21  Shipping Cost   14 non-null     float64
 22  Order Priority  14 non-null     object
dtypes: float64(5), object(18)
memory usage: 4.6+ KB

In [6]:
#Check the datatypes of the columns
df.dtypes

ROW_ID             object
Order ID           object
Order Date         object
Ship Date          object
Ship Mode          object
Customer ID        object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity          float64
Discount          float64
Profit            float64
Shipping Cost     float64
Order Priority     object
dtype: object

In [8]:
#Checking for the count of missing values in each column
df.isnull().sum()

ROW_ID             1
Order ID           1
Order Date        11
Ship Date         11
Ship Mode         11
Customer ID       11
Customer Name     11
Segment           11
City              11
State             11
Country           11
Region            11
Market            11
Product ID        11
Category          11
Sub-Category      11
Product Name      12
Sales             11
Quantity          11
Discount          11
Profit            11
Shipping Cost     11
Order Priority    11
dtype: int64

In [9]:
#Computing statistics
df.describe()

             Sales   Quantity   Discount       Profit  Shipping Cost
count    14.000000  14.000000  14.000000    14.000000      14.000000
mean   2473.938571   5.000000   0.042857   408.482143     634.465000
std    1831.926361   2.572039   0.064621   458.556490     404.482444
min      17.940000   1.000000   0.000000  -288.770000       4.290000
25%     711.990000   3.250000   0.000000    17.787500     233.140000
50%    2724.960000   5.000000   0.000000   438.180000     856.975000
75%    3505.177500   6.750000   0.100000   734.347500     901.617500
max    5244.840000   9.000000   0.200000  1151.400000     923.630000

In [12]:
# Handle missing values
#Checking percentage of missing values
missing_percentage = df.isnull().sum() / len(df) * 100
missing_percentage

ROW_ID             4.0
Order ID           4.0
Order Date        44.0
Ship Date         44.0
Ship Mode         44.0
Customer ID       44.0
Customer Name     44.0
Segment           44.0
City              44.0
State             44.0
Country           44.0
Region            44.0
Market            44.0
Product ID        44.0
Category          44.0
Sub-Category      44.0
Product Name      48.0
Sales             44.0
Quantity          44.0
Discount          44.0
Profit            44.0
Shipping Cost     44.0
Order Priority    44.0
dtype: float64

In [13]:
#Check the number of rows
len(df)

25

In [25]:
# Fill the missing values
df['ROW_ID'].fillna('Uknown', inplace=True)
df['Order ID'].fillna('Uknown', inplace=True)

In [26]:
# Fill the missing values
df['Customer ID'].fillna('Uknown', inplace=True)
df['Product ID'].fillna('Uknown', inplace=True)
df['Ship Mode'].fillna('Uknown', inplace=True)

In [23]:
df['Order Date'].fillna(df['Order Date'].mode()[0],inplace=True)
df['Ship Date'].fillna(df['Ship Date'].mode()[0],inplace=True)

In [21]:
cat_cols = ["Customer Name","Segment","City","State","Country",
            "Region","Market","Category","Sub-Category",
            "Product Name","Order Priority"]

for col in cat_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [22]:
# For this columns we fill with median
num_cols = ["Sales","Quantity","Discount","Profit","Shipping Cost"]

for col in num_cols:
    df[col].fillna(df[col].median(), inplace=True)

In [27]:
df.isnull().sum()

ROW_ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Region            0
Market            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [28]:
#Convert Order date and Ship Date to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ROW_ID          25 non-null     object
 1   Order ID        25 non-null     object
 2   Order Date      25 non-null     datetime64[ns]
 3   Ship Date       25 non-null     object
 4   Ship Mode       25 non-null     object
 5   Customer ID     25 non-null     object
 6   Customer Name   25 non-null     object
 7   Segment         25 non-null     object
 8   City            25 non-null     object
 9   State           25 non-null     object
 10  Country         25 non-null     object
 11  Region          25 non-null     object
 12  Market          25 non-null     object
 13  Product ID      25 non-null     object
 14  Category        25 non-null     object
 15  Sub-Category    25 non-null     object
 16  Product Name    25 non-null     object
 17  Sales           25 non-null     float64
 18  Quantity        25 non-null     float64
 19  Discount        25 non-null     float64
 20  Profit          25 non-null     float64
 21  Shipping Cost   25 non-null     float64
 22  Order Priority  25 non-null     object
dtypes: datetime64[ns](1), float64(5), object(17)
memory usage: 4.6+ KB

In [31]:
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ROW_ID          25 non-null     object
 1   Order ID        25 non-null     object
 2   Order Date      25 non-null     datetime64[ns]
 3   Ship Date       25 non-null     datetime64[ns]
 4   Ship Mode       25 non-null     object
 5   Customer ID     25 non-null     object
 6   Customer Name   25 non-null     object
 7   Segment         25 non-null     object
 8   City            25 non-null     object
 9   State           25 non-null     object
 10  Country         25 non-null     object
 11  Region          25 non-null     object
 12  Market          25 non-null     object
 13  Product ID      25 non-null     object
 14  Category        25 non-null     object
 15  Sub-Category    25 non-null     object
 16  Product Name    25 non-null     object
 17  Sales           25 non-null     float64
 18  Quantity        25 non-null     float64
 19  Discount        25 non-null     float64
 20  Profit          25 non-null     float64
 21  Shipping Cost   25 non-null     float64
 22  Order Priority  25 non-null     object
dtypes: datetime64[ns](2), float64(5), object(16)
memory usage: 4.6+ KB

In [33]:
#Check for invalid dates
df['Ship Date'].isnull().sum()
df['Order Date']

0