In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ncr_ride_bookings.csv')

In [3]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,3/23/2024,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11/29/2024,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,8/23/2024,8:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,10/21/2024,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,9/16/2024,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [4]:
#Check for null values
df.isna().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                              10500
Avg CTAT                              48000
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                         48000
Ride Distance                         48000
Driver Ratings                        57000
Customer Rating                       57000
Payment Method                        48000
dtype: int64

In [5]:
# List of numeric columns to fill with 0
cols_to_fill = [
    "Avg VTAT", 
    "Avg CTAT", 
    "Booking Value", 
    "Ride Distance", 
    "Driver Ratings", 
    "Customer Rating"
]

# Fill NaN values with 0 in those columns
df[cols_to_fill] = df[cols_to_fill].fillna(0)

# Quick check: confirm no nulls left in those columns
print(df[cols_to_fill].isna().sum())

Avg VTAT           0
Avg CTAT           0
Booking Value      0
Ride Distance      0
Driver Ratings     0
Customer Rating    0
dtype: int64

In [6]:
df.isna().sum()

Date                                      0
Time                                      0
Booking ID                                0
Booking Status                            0
Customer ID                               0
Vehicle Type                              0
Pickup Location                           0
Drop Location                             0
Avg VTAT                                  0
Avg CTAT                                  0
Cancelled Rides by Customer          139500
Reason for cancelling by Customer    139500
Cancelled Rides by Driver            123000
Driver Cancellation Reason           123000
Incomplete Rides                     141000
Incomplete Rides Reason              141000
Booking Value                             0
Ride Distance                             0
Driver Ratings                            0
Customer Rating                           0
Payment Method                        48000
dtype: int64

In [7]:
#Check for count of  duplicates
df.duplicated().sum()

0

In [8]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,3/23/2024,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,NaN
1,11/29/2024,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,0.0,0.0,UPI
2,8/23/2024,8:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,10/21/2024,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,9/16/2024,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [10]:
df.dtypes

Date                                  object
Time                                  object
Booking ID                            object
Booking Status                        object
Customer ID                           object
Vehicle Type                          object
Pickup Location                       object
Drop Location                         object
Avg VTAT                             float64
Avg CTAT                             float64
Cancelled Rides by Customer          float64
Reason for cancelling by Customer     object
Cancelled Rides by Driver            float64
Driver Cancellation Reason            object
Incomplete Rides                     float64
Incomplete Rides Reason               object
Booking Value                        float64
Ride Distance                        float64
Driver Ratings                       float64
Customer Rating                      float64
Payment Method                        object
dtype: object

In [11]:
#Count duplicate bookings if there is 
df.duplicated(subset='Booking ID').sum()

1233

In [12]:
#Count vehicle types
df['Vehicle Type'].value_counts()

Vehicle Type
Auto             37419
Go Mini          29806
Go Sedan         27141
Bike             22517
Premier Sedan    18111
eBike            10557
Uber XL           4449
Name: count, dtype: int64

In [14]:
#Explore unique booking statuses
df['Booking Status'].value_counts()

Booking Status
Completed                93000
Cancelled by Driver      27000
No Driver Found          10500
Cancelled by Customer    10500
Incomplete                9000
Name: count, dtype: int64

In [15]:
#Summary statistics for numeric columns
df.describe()

,Avg VTAT,Avg CTAT,Cancelled Rides by Customer,Cancelled Rides by Driver,Incomplete Rides,Booking Value,Ride Distance,Driver Ratings,Customer Rating
count,150000.000000,150000.000000,10500.0,27000.0,9000.0,150000.000000,150000.000000,150000.000000,150000.000000
mean,7.864407,19.821753,1.0,1.0,1.0,345.641220,16.753168,2.623215,2.730842
std,4.230640,15.452834,0.0,0.0,0.0,403.423487,16.291118,2.082283,2.165548
min,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000
25%,4.700000,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000
50%,7.800000,22.000000,1.0,1.0,1.0,244.000000,13.060000,3.900000,4.100000
75%,11.000000,32.900000,1.0,1.0,1.0,521.000000,30.650000,4.300000,4.600000
max,20.000000,45.000000,1.0,1.0,1.0,4277.000000,50.000000,5.000000,5.000000

In [21]:
#Time-Series Analysis
# Convert Excel date serial to datetime
df["Date"] = pd.to_datetime(df["Date"], format="%m/%d/%Y", errors="coerce")

In [22]:
df.head()

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.0,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,0.0,0.0,UPI
2,2024-08-23,8:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [25]:
#Number of rides per day 
rides_per_day = df.groupby('Date')['Customer ID'].count()
rides_per_day

Date
2024-01-01    414
2024-01-02    389
2024-01-03    384
2024-01-04    414
2024-01-05    416
             ...
2024-12-26    369
2024-12-27    431
2024-12-28    391
2024-12-29    417
2024-12-30    386
Name: Customer ID, Length: 365, dtype: int64

In [26]:
#Top 5 rides per day
rides_per_day.sort_values(ascending=False).head(5)

Date
2024-11-16    462
2024-09-18    456
2024-05-09    456
2024-01-26    452
2024-10-12    452
Name: Customer ID, dtype: int64

In [29]:
# 7. Monthly booking trends
df["Month"] = df["Date"].dt.to_period("M")
monthly_trends = df.groupby("Month")["Booking ID"].count()
monthly_trends

Month
2024-01    12861
2024-02    11927
2024-03    12719
2024-04    12199
2024-05    12778
2024-06    12440
2024-07    12897
2024-08    12636
2024-09    12248
2024-10    12651
2024-11    12394
2024-12    12250
Freq: M, Name: Booking ID, dtype: int64

In [31]:
# 8. Peak booking hours
# Convert "Time" from string (e.g. "12:29:38") into a datetime.time
df["Time"] = pd.to_datetime(df["Time"], format="%H:%M:%S", errors="coerce")

# Extract the hour (0–23)
df["Hour"] = df["Time"].dt.hour

# Group by hour
hourly = df.groupby("Hour")["Booking ID"].count()
print(hourly)

Hour
0      1373
1      1360
2      1339
3      1383
4      1321
5      2786
6      4160
7      5450
8      6861
9      8234
10     9577
11     8390
12     7006
13     5470
14     7031
15     8202
16     9633
17    11044
18    12397
19    11047
20     9630
21     8103
22     5441
23     2762
Name: Booking ID, dtype: int64

In [33]:
 #Grouping & Comparisons
# 9. Rides by booking status (Completed vs Cancelled vs No Driver Found)
df["Booking Status"].value_counts(normalize=True)

Booking Status
Completed                0.62
Cancelled by Driver      0.18
No Driver Found          0.07
Cancelled by Customer    0.07
Incomplete               0.06
Name: proportion, dtype: float64

In [36]:
#Revenue by vehicle type
df.groupby('Vehicle Type')['Booking Value'].sum().sort_values(ascending=False)

Vehicle Type
Auto             12878422.0
Go Mini          10338496.0
Go Sedan          9369719.0
Bike              7837697.0
Premier Sedan     6275332.0
eBike             3618485.0
Uber XL           1528032.0
Name: Booking Value, dtype: float64

In [37]:
#Avg Ride distance by vehicle type
df.groupby('Vehicle Type')['Ride Distance'].mean()

Vehicle Type
Auto             16.719194
Bike             16.816909
Go Mini          16.815426
Go Sedan         16.609322
Premier Sedan    16.726638
Uber XL          16.701913
eBike            16.998785
Name: Ride Distance, dtype: float64